* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    background: url(img/img\ 1.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
}

form {
    display: block;
    background-color:transparent;
    backdrop-filter: blur(7px);
    width: 30%;
    margin: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    border: 1.3px #fff solid;
    border-radius: 20px;
    height: 30rem;
}

form h3 {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    color: #051f20;
    height: 5rem;
    margin-top: 2rem;
}

/* input 1 */
form .input1 {
    width: 80%;
    margin: auto; 
    padding: 0;
}

form .input1 p{
    color: #fff;
    font-weight: 300;
    font-size: 15px;
}

form .input1 input {
    width: 100%;
    border-bottom: 1.3px #fff solid;
    background: transparent;
    outline: none;
    color: #fff;
    height: 0;
}

form .input1 input:hover {
    height: 2rem;
    transition: 0.5s;
    outline: none;
}


/* input 2 */
form .input2 {
    width: 80%;
    margin: auto; 
    padding: 0;
    margin-top: 1rem;
}

form .input2 p{
    color: #fff;
    font-weight: 300;
    font-size: 15px;
}

form .input2 input {
    width: 100%;
    height: 0;
    background: transparent;
    outline: none;
    color: #fff;
    border-bottom: 1.3px #fff solid;
}

form .input2 input:hover {
    height: 2rem;
    transition: 0.5s;
    outline: none;
}

/* Remember Area */
form .re {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto; 
    padding: 0;
    margin-top: 1rem;
}



form .re p {
    display: flex;
    color: #fff;
    font-size: 15px;
    margin: 0;
    padding: 0;
    margin-left: 0.5rem;
    font-weight: 300;
}


form .re a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    margin-left: 3rem;
    font-weight: 300;
}

form .re a:hover {
    text-decoration: underline;
    transition: 0.4s;
}

form .re input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1.3px solid #fff;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

form .re input:hover {
    border: 2px solid #fff;
    border-radius: 3px;
}

form .re input:checked {
    background-color: #fff; 
    border: 2px solid #fff; 
    color: #fff;
}

form .button {
    margin: auto; 
    padding: 0;
    width: 50%;
    margin-top: 1rem;
}

form button {
    height: 2.5rem;
    background-color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    color: black;
    width: 100%;
    font-weight: 300;
}

form button:hover {
    background: transparent;
    color: #fff;
    border: 1.3px #fff solid;
    transition: 0.7s;
}

form .last-p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

form .last-p a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin-left: 0.3rem;
}

